body {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Noto Serif KR', serif; */
    /* font-family: 'Noto Sans', sans-serif; */
    font-size: 15px;
}

.innerBox {
    max-width: 1416px;
    margin: 0 auto;
    /* background-color: rgba(255, 0, 0, 0.2); */
    position: relative;
}

.hamBtn {
    display: none;
}

.phonNum {
    display: none;
}
.mobileNav{
    display: none;
}
.mobileNavBanner{
    display: none;
}
.snsMobile{
    display: none;
}

/* header */
header {
    /* border-top: 4px solid #45B6BA; */
    position: absolute;
    width: 100%;
    z-index: 100;
}

.logo {
    text-align: center;
    padding: 10px 0;
}

.rightGnb,
.leftGnb {
    position: absolute;
    top: 30px;
}

.rightGnb {
    display: flex;
    right: 10px;
}

.rightGnb>li {
    padding-left: 20px;
}

.rightGnb>li>a {
    color: #ddd;
    font-size: 16px;
}
form{
    
}
form>input {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0 10px 0 50px;
    width: 270px;
    height: 40px;
    transition: 0.3s;
    background: rgba(255,255,255,0.8);
    outline: none;
}

form:hover input {}

form>a {
    position: absolute;
    left: 10px;
    top: 10px;
}

/* 네비게이션 */
#nav {
    display: flex;
    justify-content: center;
}
.fixed{
    position: fixed;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
#nav>li {
    padding: 20px 50px;
    white-space: nowrap;
    position: relative;
}


#nav:hover .sub {
    display: block;
}

#nav>li>a {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#nav>li>a:hover{   
    border-bottom: 2px solid #45B6BA;
}

.subBg {
    display: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 90px;
    width: 1416px;
    height: 250px;
    z-index: 100;
}

.sub {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 20px;
}
.sub>li>a {
    line-height: 2;
}
.sub>li:hover a{
    color: #45B6BA;
    font-weight: bold;
}
/* mainBanner */
#mainBanner {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#mainBanner .active {
    /* display: block; */
    opacity: 1;
}

.banner {
    height: 100%;
    position: relative;
}

.banner>li {
    height: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    /* display: none; */
    opacity: 0;
}

.banner>li img {
    filter: brightness(70%);
    height: 100%;

}
.fade{
    /* opacity: 0; */
}
.textBox {
    /* background-color: #abff77; */
    font-weight: bold;
    position: absolute;
    top: -550px;
}

.textBox p>span {
    font-size: 2em;
    text-shadow: 4px 2px 10px #333;
}

.textBox p {
    font-size: 1.5em;
    color: white;
}

.textBox p:last-child {
    font-size: 1.2em;
    font-weight: 200;
    margin: 20px 0;
}

.bannerMore {
    text-align: center;
    font-size: 1.3em;
    border: 1px solid white;
    padding: 10px;
    width: 150px;
    margin-top: 30px;
}

.bannerMore:hover {
    background: white;
    opacity: 0.8;
}

.bannerMore:hover a {
    color: #000;
}

.bannerMore>a {
    color: white;
}

/* 메인배너 pager */
.pager {
    position: absolute;
    top: -70px;
    left: 0;
    display: flex;
}

.pager>span {
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: white;
    margin-right: 10px;
    text-indent: -9999px;
    cursor: pointer;
}
.pager>span>a{
 
}
.pager>.active {
    width: 50px;
    border-radius: 30px;
    background: #45B6BA;
}

/* 스크롤다운 */
.scrollDown {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 40px;
}

.scrollDown>a>span {
    display: block;
    margin: -10px;
    animation-name: scrollAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.scrollDown>a>span img {
    width: 30px;
}

.scrollDown>a>span:last-child {
    animation-delay: 0.3s;
}

.scrollDown>a>span:nth-child(2) {
    animation-delay: 0.6s;
}

.scrollDown>a>span:first-child {
    animation-delay: 0.8s;
}

@keyframes scrollAni {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

/* container */
#container {}

.menuWrap {
    position: relative;
    right: 50%;
    transform: translateX(50%);
    margin: 40px 0 130px;
    overflow: hidden;
}

.menuWrap .menu {
    text-align: center;
    position: relative;
}

.menuTitle,
.eventTitle,
.conTitle {
    padding: 50px 0 10px;
    font-family: 'Noto Serif KR', serif;
    font-size: 3em;
    animation-name: slidText;
    animation-duration: 1s;
    animation-iteration-count: inherit;
}

@keyframes slidText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.subTitle {
    display: flex;
    justify-content: center;
}

.subTitle>p {
    padding: 0 20px;
    font-size: 1.3em;
}
.subTitle>p>a.on{
    color: #45B6BA;
    padding-bottom: 7px;
    border-bottom: 4px solid #45B6BA;
}


.menuListWrap {
    overflow: hidden;
    width: 1200px;
    margin:0 auto;
    /* background-color: royalblue; */
}
.menuList {
    display: flex;
    width: 125%;
    /* justify-content: center; */
}
.menuList>li {
    padding: 50px 20px;
    width: 25%;
    box-sizing: border-box;
}
.menuList>li .menuImg>img {
    transition: transform 0.5s;
    background: #F5EEDD;
    width: 100%;
}
.menuList>li:hover .menuImg>img {
    transform: scale(1.05);
}
.menuText {
    padding-top: 20px;
    font-size: 1.1em;
}
.menuMore{
   
}
.menuMore,
.eventMore {
    border: 1px solid #ccc;
    background: white;
    width: 400px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.3s;
    margin: 0 auto;
}

.menuMore:hover,
.eventMore:hover {
    background: #45B6BA;
    border: 1px solid transparent;
    font-weight: bold;
}
.menuMore>a {
    color: black;
}
.menuMore:hover a,
.eventMore:hover a {
    color: white;
}
.menu_btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 50%;
    /* transform: translateY(-50%); */
}
.menu_btn>p{
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    opacity: 0.2;    
    cursor: pointer;
}
.menu_btn>.prev{
    /* padding-left: 50px; */
    background: url(../images/1904658-arrow-arrow-left-change-direction-left-next-undo_122508.svg)no-repeat;
}
.menu_btn>.next{
    /* padding-right: 50px; */
    background: url(../images/1904671-arrow-arrow-right-change-direction-next-page-right_122521.svg) no-repeat; 
}
/* 이벤트 본문 */
.eventWrap,
.conWrap {
    text-align: center;
}

.eventWrap {
    background-image: url(../images/eventBg.jpg);
    background-position: center center;
    background-repeat: no-repeat;

    height: 600px;
}

.eventWrap>.innerBox {
    height: 100%;
}

.event {}

.eventTitle {
    color: white;
}

.eventTitle>span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 0.5em;
}

.eventList {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: -70px;
}

.eventList>li img {
    /* 반응형 크기 같이 줄어듦. */
    width: 100%;
    transition: 0.5s;
}

.eventList>li:hover img {
    transform: scale(1.05);
}

.eventMore {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -170px;
}

/* conWrap */
.conWrap {
    padding: 250px 0;
    background-image: url(../images/conBg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    height: 600px;
}
.conWrap>.innerBox {
    height: 100%;
}
.conWrap section>p {
    font-size: 1.2em;
    font-weight: 300;
}
.conImg>li {
    padding: 60px 50px 0;
    display: inline-block;   
    width: 33%;  /* 고정사이즈 주지말고 %로 반응형편하게 */
    box-sizing: border-box;
}
.conImg>li>div img {
    border-radius: 50%;
    width: 100%;
}
.conImg>li>div {
    position: relative;
}
.conImg>li>div:hover .conImgBg::before {    
    opacity: 0.85;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);  
}
.conImg>li>div>.conImgBg::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
    transition: 0.7s;
   
}
.conImg>li>div .conImgText {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
}
.conImg>li>div .conImgText>p {
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ment {
    padding-top: 25px;
    font-size: 1.1em;
    font-weight: 300;
    word-break: keep-all;
    width: 350px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

/* infoWrap */
.infoWrap {
    padding: 50px 0;
    background-image: url(../images/infoBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.infoWrap section {
    display: flex;
    justify-content: center;
    position: relative;
}

.infoWrap section::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.9;
    position: absolute;
}

.infoWrap section>div {
    z-index: 100;
    padding: 50px 50px;
}
.infoTitle {
    font-size: 1.5em;
    color: #bbb;
    font-family: 'Noto san-Serif', san-serif;
    padding-bottom: 15px;
}
.infoText {

}
.infoText>div>p {
    font-weight: 300;
}
.customerText {

}
.infoText .num {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
}
.num>span {
    font-size: 0.6em;
}
.snsInfo {
    display: flex;
}
.snsInfo>li {
    padding: 30px 30px 0 0;
}
.snsInfo>li div {
    background: white;
    border-radius: 50%;
    width: 35px;
}
.snsInfo>li div>img {
    transform: scale(0.8);
}
.snsInfo>li span {

}

.deliveryBtn {
    padding-top: 30px;
}
.deliveryBtn>a {
    background: #DBB993;
    padding: 15px 50px;
    color: white;
    font-weight: bold;
}
.deliveryBtn:hover a {
    background: #c2a281;
}

/* footer */
footer {}

footer>.innerBox {
    display: flex;
}
.footTop {
    padding-top: 100px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.footTop ul {
    display: flex;
    justify-content: end;
}

.footTop ul>li {
    padding: 0 0 10px 30px;
    font-weight: 400;
}

.footTop ul>li>a {
    color: #333;
}

.arrowUp {
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
}

.arrowUp>a {
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    background: white;
}

.arrowUp img {
    width: 20px;
}

.footLogo {
    padding: 40px;
}

.footLogo img {
    width: 200px;
}

.footMiddle {}

.addressWrap {
    position: absolute;
    top: 70px;
}

address {
    color: #666;
}

address span {
    padding-right: 10px;
}

.copy {
    position: absolute;
    bottom: 25px;
}


@media screen and (max-width:1297px) {
    .banner>li::before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.7),transparent, transparent,transparent);
        z-index: 100;
        position: absolute;        
    }   
    .textBox,
    .hamBtn,
    .logo {
        z-index: 200;
    }

    /* 제거 */
    .bannerMore {
        display: none;
    }

    .rightGnb,
    .leftGnb {
        display: none;
    }

    .scrollDown {
        display: none;
    }

    /* 네비게이션 */
    nav {
        position: fixed;       
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        z-index: 1000;
        display: none;
    }
    #nav:hover .sub{
        display: none;
    }
    #nav {
        display: block;
        background: white;
        width: 70%;
        height: 100%;
        top: 0;
        right: 0;
        transform: translateX(0%);
        padding-top: 100px;
    }
    #nav>li {
        border-bottom: 1px solid #ddd;
    }
    #nav>li:last-child{
        border: none;
    }
    #nav>li>a {
        color: #333;
    }
    #nav:hover .sub {
        height: auto;
    }  
    .sub {
        position: static;
        text-align: left;
        text-indent: 20px;
    }
    .mobileNav,
    .mobileNavBanner{
        display: block;        
    }
    .mobileNav{
        position: absolute;
        left: 0;
        display: flex; 
        justify-content: space-between;
        width: 70%;
        z-index: 100;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .navLogo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .xBtn{
        width: 50px;
    }
    .mloginBtn{
        width: 50px;
        position: absolute;
        top: 20px;
        right: 20px;
    }  
    .mloginBtn img{
        width: 100%;
    }
    .mobileNavBanner img{
        width: 100%;
        border-radius: 10px;        
    }      

    /* 나타나기 */
    header {
        
    }
    .hamBtn {
        display: block;
        width: 45px;
        position: absolute;
        top: 20px;
        right: 20px;
    }  

    /* mainBanner */
    #mainBanner {
        height: 100vh;
    }

    .textBox {
        top: -550px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        text-align: center;
    }

    .textBox p:last-child {
        display: none;
    }

    .pager {
        top: -140px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bannerMore {
        margin: 0 auto;
    }

    /* menuWrap */
    .menuMore{
        
    }
    .menuList {
      
    }

    .eventList>li {
        padding: 0 10px;
    }

    /* conWrap */
    .conImg>li {
        padding: 30px 10px 0;
        width: 30%;
    }

    .infoWrap {
        padding: 50px 0;
    }

    .infoWrap section>div {
        padding: 30px 30px;
    }

    .footTop ul>li {
        padding: 0 0 10px 10px;
    }

}

@media screen and (max-width:1000px) {
    /* mainBanner */

    /* menuWrap */
    .menuList {
        width: 300%;
    }

    /* eventWrap */
    .eventList {
        bottom: 50%;
        transform: translateY(50%);
    }

    .eventTitle {
        padding: 15px 0;
    }

    .eventMore {
        bottom: 10px;
    }

    /* conWrap */

    .conImg>li>div .conImgText>p {
        font-size: 1.5em;
    }

    .ment {
        width: 250px;
    }

    /* infoWrap */
    .infoWrap {}

    .infoText>div>p {
        font-size: 0.8em;
    }

    .infoText {
        font-size: 1.1em;
    }

    .infoText .num {
        word-break: keep-all;
    }

    .snsInfo>li span {
        word-break: keep-all;
        font-size: 0.8em;
    }

    .deliveryBtn>a {
        padding: 15px 15px;

    }

    /* footer */
    .footTop ul>li {
        font-size: 0.8em;
    }

}

/* ----------------mobile ~767 반응형-------------*/
@media screen and (max-width:767px) {
    body {
        font-size: 12px;
    }

    .logo{
        text-align: left;
        padding: 20px;
        width: 100px;
    }   
    .logo img{
        width: 100%;
    } 
    #nav {
        width: 100%;
    }
    #nav>li{
        padding: 15px 30px;
    }
    #nav>li>a{
        font-size: 1.4em;
    }
    .mobileNav {
        width: 100%;
    }    
    .navLogo{
        width: 80px;
    }
    .navLogo img{
        width: 100%;
    }
    .xBtn{
        width: 40px;
    }

    /* mainBanner */
    .textBox{
        width: 300px;
    }
    .pager>span {
        width: 10px;
        height: 10px;
    }

    .pager>.active {
        width: 30px;
    }


    /* menuWrap */
    .menuList {
    
    }

    .menuList .menuImg>img {
        border-radius: 30px;
    }

    /* conWrap */
    .conWrap {
        padding: 50px 0 0px;
    }

    .conImg>li>div .conImgText>p {
        font-size: 1.5em;
    }

    .ment {
        width: 200px;
    }

    /* eventWrap */
    .eventWrap {
        overflow: hidden;
        background-image: url(../images/tim-krauss-R17B1Ewairc-unsplash.jpg);
        background-position: center 80%;

    }
    .eventTitle {
        padding: 20px 0 0;
        text-shadow: 2px 2px 5px #333;
    }
    .eventList {
        width: 250%;
        left: 30px;
    }
    .eventList>li {}

    .eventList>li img {
        width: 90%;
    }
    .eventMore {
        bottom: 10px;
        background: none;
        border: 1px solid white;
        box-shadow: 2px 2px 5px #333;
    }
    .eventMore>a {
        color: white;
        font-weight: bold;
    }
    /* infoWrap */
    .infoWrap {}

    .infoWrap section>div {
        padding: 20px 10px;
    }
    .snsInfo>li {
        padding: 30px  0 30px;
    }

}

@media screen and (max-width:480px) {
    .menuListWrap {
        width: 100%;
    }
    .menuList .menuImg>img {
        border-radius: 10px;
    }
    /* 1.제거 */
    .infoWrap {
        display: none;
    }

    /* 2.나타나기 */
    .snsMobile{
        display: block;
    }
    .phonNum {
        display: block;
        text-align: center;
    }

    .phonNum img {
        width: 50px;
    }

    .phonNum>h2 {
        font-family: 'Noto Sans', sans-serif;
        font-size: 2em;
        color: #45B6BA;
        padding-top: 20px;
    }

    .phonNum>p {
        font-size: 4em;
        font-weight: 600;
    }

    

    /* menuWrap */
    .menuWrap{
        margin-bottom: 40px;
    }
    .menuMore,
    .eventMore {
        width: 300px;
    }
    .eventMore{
        bottom: 20px;
    }

    /* conWrap */
    .conWrap {
        padding: 50px 0 200px;
        background-image: none;
    }

    .conImg>li {
        display: block;
        margin: 10px auto;
        width: 100%;
        height: 40vw;
        overflow: hidden;
        position: relative;
    }

    .conImg>li>div {
        height: 100%;
    }

    .conImg>li>div img {
        filter: brightness(60%);
    }

    .conImg>li>div .conImgText {
        top: 30%;
    }

    .conImg>li>div .conImgText>p {
        font-size: 2em;
        display: inline-block;
    }

    .conImg>li>div img {
        border-radius: 0;
        position: relative;
        transform: translateY(-100px);
    }

    .ment {
        position: absolute;
        bottom: 35px;
        color: #eee;
        font-weight: 600;
    }


    /* footer */
    footer {}

    footer>.innerBox {
        display: block;
    }

    .footTop ul,
    .copy,
    .snsMobile>.snsInfo {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        white-space: nowrap;
    }

    .footTop ul {
        padding: 30px 0;
    }
    .footTop ul>li {
        padding: 0 0 10px 7px;
    }

    .footTop ul>li>a {
        font-size: 1em;
        font-weight: bold;
    }

    .footLogo {
        text-align: center;
        padding: 80px 0 30px;
    }

    .footMiddle {
        padding-bottom: 150px;
    }

    .addressWrap {
        text-align: center;
        position: static;
    }

    address {
        padding: 0 30px;
        font-size: 1em;
    }

    .snsMobile>.snsInfo {
        display: flex;
        
    }

    .snsMobile>.snsInfo>li span {
        display: none;
    }

    .copy {
        bottom: 20px;
        font-size: 1em;
    }

}

@media screen and (max-width:360px) {   
    .menuList {
       
    }
    .eventMore {
        bottom: 60px;
    }
    .conWrap {
        padding: 50px 0;
    }
    .conWrap section>p {
        font-size: 1em;
    }
    .ment{
        display: none;
    }
    .eventList>li img {
        width: 100%;
    }
}